**/__pycache__/
*.pyc
.vscode/
.DS_Store
main_files/captured_image.png
main_files/homography_matrix.txt
main_files/resized_image.png
main_files/selected_colors.txt
main_files/warped_frame.png
main_files/captured_image.png
main_files/homography_matrix.txt
main_files/resized_image.png
main_files/selected_colors.txt
main_files/warped_frame.png